# Creating Data

We will create a simple dataset consisting of frequencies of occurences of a blood group.

In [1]:
import pandas as pd

## Create Data

In [2]:
data = pd.DataFrame([['A', 69],
                     ['B', 17],
                     ['AB', 7],
                     ['0', 62]], columns=('blood group', 'freq'))

In [3]:
data?

## Print Data

In [4]:
print(data)

  blood group  freq
0           A    69
1           B    17
2          AB     7
3           0    62

In [5]:
data.head()

  blood group  freq
0           A    69
1           B    17
2          AB     7
3           0    62

## Information about your data structure

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   blood group  4 non-null      object
 1   freq         4 non-null      int64
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [7]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [8]:
data.columns

Index(['blood group', 'freq'], dtype='object')

## Access your data

In [9]:
# Access a column
data['blood group']

0     A
1     B
2    AB
3     0
Name: blood group, dtype: object

In [10]:
data['freq']

0    69
1    17
2     7
3    62
Name: freq, dtype: int64

In [11]:
data.freq

0    69
1    17
2     7
3    62
Name: freq, dtype: int64

In [12]:
# Access the 0-th element of a column
data['blood group'][0]

'A'

In [13]:
# Access a few elements of a column (slicing)
data['blood group'][0:2]

0    A
1    B
Name: blood group, dtype: object

In [14]:
# Access by index
data.loc[0]

blood group     A
freq           69
Name: 0, dtype: object

In [15]:
# Access a particular column by index
data.freq.loc[0]

69